<a href="https://colab.research.google.com/github/sohailahamed008/Leetcode/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name=input("enter your name:")

enter your name:sohail

In [2]:
print(name)

sohail

variables

In [3]:
a='sohail'
print(a)
a='sohail'
b=21
city='hyderabad'
print(a,b,city)

sohail
sohail 21 hyderabad

In [4]:
a,b=input("enter 2 names").split()
print(a)
print(b)

enter 2 namessohail ahamed
sohail
ahamed

In [5]:
n = int(input("whats you age?: "))
print(n)

whats you age?: 21
21

In [6]:
cgpa = float(input("Whats your cgpa?: "))
print(cgpa)

Whats your cgpa?: 8.13
8.13

In [7]:
a='sohail'
b=21
c=8.13
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
age="21"
a=int(age)
f=float(a)
s=str(f)
print(a)
print(f)
print(s)
print(type(s))

21
21.0
21.0
<class 'str'>

In [11]:
del s
print(s)

NameError: name 's' is not defined

In [12]:
a,b=2,3
a,b=b,a
print(a,b)

3 2

In [14]:
name="sohail"
l=len(name)
print(l)

6

operators

In [15]:
a=10
b=56
print(a+b)
print(a-b)
print(a*b)
print(b/a)
print(b//a)
print(b%a)
print(a**b)

66
-46
560
5.6
5
6
100000000000000000000000000000000000000000000000000000000

In [16]:
a=75
b=98
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [17]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [18]:
a=8
b=3
print(a&b)
print(a|b)
print(~a)
print(a^b)
print(a>>2)
print(a<<2)

0
11
-9
11
2
32

In [19]:
number=8
num=number
print(num)
num+=number
print(num)
num-=number
print(num)
num*=number
print(num)
num/=number
print(num)
num%=number
print(num)

8
16
8
64
8.0
0.0

In [20]:
a=3
b=4
c=b
print(a is b)
print(a is c)
print(a is not b)

False
False
True

In [21]:
a=23
b=45
my=[224,53,23,64,43]
print(a in my)
print(b in my)
print(a not in my)

True
False
False

In [23]:
a,b=54,23
m=a if a>b else b
print(m)

54

In [24]:
expr = (10 + 20) * 30
print(expr)

900

In [25]:
print(100 / 10 ** 10)
print((5 - 2) + 3)
print(5 - (2 + 3))
print(2 ** 3 ** 2)

1e-08
6
0
512